<app-filterheader
(back)="goBack()"
(submitfilter)="postFilterdata()"
>
</app-filterheader>

<ion-content>
    <app-breadcrumbsfeild
    [subcatid]="subcatid"
    [subsubcatid]="subsubcatid"
    >
    </app-breadcrumbsfeild>

    <app-pricefilterfield
    [priceplaceholder]="'beliebig'"
    [tempPrice1placeholder]="'0'"
    (priceValues)="priceValues($event)"
    >
    </app-pricefilterfield>

    <app-wohnflachefilterfield>
    </app-wohnflachefilterfield>

    <app-checkboxfilterfield
    [label]="'Zimmer'"
    >
    </app-checkboxfilterfield>
</ion-content>
