<ion-content>
  
  @for (productdetails of getProductDetailData; track productdetails) {

    <!-- Blur Header -->
    <div class="blur_container">
      <div class="blur_back">
        <a (click)="goBack();">
          <div class="back-circle">
            <img src="assets/image/left-arrow2.png">
          </div>
        </a>
        <div class="staricon shareIconimage">
          <div class="likeIcon">
            @if (productdetails.wishpro) {
              <a>
                <div>
                  <ion-icon name="heart" value="off"></ion-icon>
                </div>
              </a>
            } @else {
              <a>
                <div>
                  <ion-icon name="heart-outline" value="on"></ion-icon>
                </div>
              </a>
            }
          </div>
          <div class="socialmeida">
            <ion-icon name="share-social"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <ion-row>
      <ion-col size="12" class="col-no-padding">

        <!-- Image Section -->
        <div>
          <div class="imagecls">
            @if (productdetails.imageData != '') {
              <swiper-container
                [options]="slideOpts"
                pager="false"
                #slideWithNav1
                slides-per-view="1"
                loop="false"
                init="true"
              >
                @for (imageloop of productdetails.imageData; track imageloop.id) {
                  <swiper-slide>
                    <a class="product_image">
                      <img [src]="imageloop.image_path">
                    </a>
                  </swiper-slide>
                }
              </swiper-container>
            } @else {
              <img
                src="https://verkaufalles.at/mobapp/image/homesell.png"
                class="no_iamge_detail"
              >
            }
          </div>
        </div>

        
        @if(false){
          <div class="sticky-header" id="isflags">
          <div class="blur_container hideheader">
            <div class="blur_back">
              <a (click)="goBack();">
                <div class="back-circle">
                  <img src="assets/image/left-arrow2.png">
                </div>
              </a>
              <div class="staricon shareIconimage">
                <div class="likeIcon">
                  @if (productdetails.wishpro) {
                    <div>
                      <ion-icon name="heart" value="off"></ion-icon>
                    </div>
                  } @else {
                    <div>
                      <ion-icon name="heart-outline" value="on"></ion-icon>
                    </div>
                  }
                </div>
                <div class="socialmeida">
                  <ion-icon name="share-social"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
        

        <div>

          <!-- Title & Price Section -->
          <div class="shadowclass">
            @if (productdetails.von) {
              <p class="suche">Ich suche</p>
            }
            <p class="title">{{ productdetails.title_name }}</p>

            @if (productdetails.reserve_status == 1) {
              <ion-badge color="primary" class="reserve_status">reserviert</ion-badge>
            }

            <ion-row class="price-row">

              @if (!productdetails.von) {
                <ion-col size="12" class="textcenter">
                  @if (productdetails.price != 0) {
                    <div>
                      <p class="makeorange price-value fw">€ {{ productdetails.euro }}</p>
                      <p class="price-type">({{ productdetails.pricetyp }})</p>
                    </div>
                  } @else {
                    <div>
                      <p class="price-on-request fw makeorange">Preis auf Anfrage</p>
                    </div>
                  }
                </ion-col>
              }

              @if (productdetails.von) {
                <ion-col size="12">
                  <div class="newpricedetail1">
                    <h4>Preis</h4>
                    <div class="newpricedetail1_sub">
                      <p>von <span>€ {{ productdetails.evon }}</span></p>
                      <p>bis <span>€ {{ productdetails.ebis }}</span></p>
                    </div>
                  </div>
                </ion-col>
              }

              @if (productdetails.evonwoh) {
                <ion-col size="12" class="wohnflache-col">
                  <div class="newpricedetail1">
                    <h4>Wohnfläche</h4>
                    <div class="newpricedetail1_sub">
                      <p>von <span>{{ productdetails.evonwoh }} m<sup>2</sup></span></p>
                      <p>bis <span>{{ productdetails.ebiswoh }} m<sup>2</sup></span></p>
                    </div>
                  </div>
                </ion-col>
              }

              @if (!productdetails.von) {
                <ion-col [size]="productdetails.no_of_rooms != 0 ? 6 : 12">
                  <div class="textcenter">
                    <span class="stat-value fw">
                      <span class="german_form makeorange">{{ productdetails.wohnflache_val | germanNumber }}  m<sup>2</sup></span>
                    </span>
                    <p>Wohnfläche</p>
                  </div>
                </ion-col>
              }

              @if (productdetails.no_of_rooms != 0) {
                <ion-col [size]="productdetails.von ? 12 : 6">
                  <div class="textcenter">
                    <span class="stat-value zimmer makeorange fw">{{ productdetails.no_of_rooms }}</span>
                    <p>Zimmer</p>
                  </div>
                </ion-col>
              }

            </ion-row>
          </div>

          <!-- Location -->
          @if (productdetails.zipcode) {
            <div class="shadowstyle">
              <p class="titlediv">Objektstandort</p>
              <p class="location-text">
                @if (productdetails.street_address) {
                  <span>{{ productdetails.street_address }}, </span>
                }
                <span>{{ productdetails.zipcode }}</span>
                <span> {{ productdetails.city }},</span>
                <span> {{ productdetails.country }}</span>
              </p>
            </div>
          }

          <!-- Description -->
          @if (productdetails.description) {
            <div class="shadowstyle">
              <p class="titlediv">Objektinformation</p>
              <span class="pricehead">{{ productdetails.description }}</span>
            </div>
          }

          <!-- Object Details -->
          <div class="shadow">

            @if (productdetails.objecttyp || productdetails.grundflache_val != 0 || productdetails.availability || productdetails.bautyp || productdetails.heizung_val || productdetails.zustand_val) {
              <div class="section-border">
                <div class="section-padding-lg">
                  <p class="titlediv">Objektinformation</p>
                  @if (productdetails.objecttyp) {
                    <p class="mb-1 text-clrs">
                      <span class="label-bold">Objekttyp</span>
                      <span class="float-right text-dark makewhite">{{ productdetails.objecttyp }}</span>
                    </p>
                  }
                  @if (productdetails.grundflache_val != 0 && productdetails.grundflache_val != '') {
                    <p class="mb-1 text-clrss">
                      <span class="label-bold">Grundfläche</span>
                      <span class="float-right text-dark makewhite">
                        <span class="energy_form">{{ productdetails.grundflache_val | germanNumber:0}} m<sup>2</sup></span>
                      </span>
                    </p>
                  }
                  @if (productdetails.availability) {
                    <p class="mb-1 text-clrss">
                      <span class="label-bold">Verfügbar</span>
                      <span class="float-right text-dark makewhite">{{ productdetails.availability }}</span>
                    </p>
                  }
                  @if (productdetails.bautyp) {
                    <p class="mb-1 text-clrs">
                      <span class="label-bold">Bautyp</span>
                      <span class="float-right text-dark makewhite">{{ productdetails.bautyp }}</span>
                    </p>
                  }
                  @if (productdetails.zustand_val) {
                    <p class="mb-1 text-clrss">
                      <span class="label-bold">Zustand</span>
                      <span class="float-right text-dark makewhite">{{ productdetails.zustand_val }}</span>
                    </p>
                  }
                </div>
              </div>
            }

            <!-- Freiflächen -->
            @if (productdetails.balkon_val != 0 || productdetails.dachterrasse_val != 0 || productdetails.garten_val != 0 || productdetails.loggia_val != 0 || productdetails.terrasse_val != 0 || productdetails.wintergarten_val != 0) {
              <div class="section-border">
                <div class="section-padding-lg">
                  <p class="titlediv freiflachen-title">Freiflächen</p>

                  @if (productdetails.balkon_val == 'Balkon' || productdetails.dachterrasse_val == 'Dachterrasse' || productdetails.garten_val == 'Garten' || productdetails.loggia_val == 'Loggia' || productdetails.terrasse_val == 'Terrasse' || productdetails.wintergarten_val == 'Wintergarten') {
                    <div>
                      @if (productdetails.balkon_val == 'Balkon') {
                        <p class="freiflachen-item">Balkon</p>
                      }
                      @if (productdetails.dachterrasse_val == 'Dachterrasse') {
                        <p class="freiflachen-item">Dachterrasse</p>
                      }
                      @if (productdetails.garten_val == 'Garten') {
                        <p class="freiflachen-item">Garten</p>
                      }
                      @if (productdetails.loggia_val == 'Loggia') {
                        <p class="freiflachen-item">Loggia</p>
                      }
                      @if (productdetails.terrasse_val == 'Terrasse') {
                        <p class="freiflachen-item">Terrasse</p>
                      }
                      @if (productdetails.wintergarten_val == 'Wintergarten') {
                        <p class="freiflachen-item">Wintergarten</p>
                      }
                    </div>
                  }

                  @if (productdetails.balkon_val != 'Balkon' || productdetails.dachterrasse_val != 'Dachterrasse' || productdetails.garten_val != 'Garten' || productdetails.loggia_val != 'Loggia' || productdetails.terrasse_val != 'Terrasse' || productdetails.wintergarten_val != 'Wintergarten') {
                    <div>
                      @if (productdetails.balkon_val != 'Balkon' && productdetails.balkon_val != '' && productdetails.balkon_val != 0) {
                        <p class="text-clrss">
                          Balkon: 
                          <span class="german_form">{{ productdetails.balkon_val | germanNumber:0 }} m<sup>2</sup></span></p>
                      }
                      @if (productdetails.dachterrasse_val != 'Dachterrasse' && productdetails.dachterrasse_val != '' && productdetails.dachterrasse_val != 0) {
                        <p class="text-clrss">Dachterrasse: 
                          <span class="german_form">{{ productdetails.dachterrasse_val | germanNumber:0}} m<sup>2</sup></span></p>
                      }
                      @if (productdetails.garten_val != 'Garten' && productdetails.garten_val != '' && productdetails.garten_val != 0) {
                        <p class="text-clrss">Garten: 
                          <span class="german_form">{{ productdetails.garten_val| germanNumber:0 }} m<sup>2</sup></span></p>
                      }
                      @if (productdetails.loggia_val != 'Loggia' && productdetails.loggia_val != '' && productdetails.loggia_val != 0) {
                        <p class="text-clrss">Loggia: 
                          <span class="german_form">{{ productdetails.loggia_val| germanNumber:0 }} m<sup>2</sup></span></p>
                      }
                      @if (productdetails.terrasse_val != 'Terrasse' && productdetails.terrasse_val != '' && productdetails.terrasse_val != 0) {
                        <p class="text-clrss">Terrasse: 
                          <span class="german_form">{{ productdetails.terrasse_val | germanNumber:0}} m<sup>2</sup></span></p>
                      }
                      @if (productdetails.wintergarten_val != 'Wintergarten' && productdetails.wintergarten_val != '' && productdetails.wintergarten_val != 0) {
                        <p class="text-clrss">Wintergarten: <span class="german_form">{{ productdetails.wintergarten_val | germanNumber:0}} m<sup>2</sup></span></p>
                      }
                    </div>
                  }

                </div>
              </div>
            }

            <!-- Ausstattung -->
            @if (productdetails.ausstatung_val_f) {
              <div class="section-padding-lg section-border">
                <p class="titlediv">Ausstattung</p>
                <p class="mb-1 text-clrs feature-text remove_space">{{ productdetails.ausstatung_val_f }}</p>
              </div>
            }

            <!-- Böden -->
            @if (productdetails.baden_val_f) {
              <div class="section-padding-lg section-border">
                <p class="titlediv">Böden</p>
                <p class="mb-1 text-clrs feature-text">{{ productdetails.baden_val_f }}</p>
              </div>
            }

            <!-- Heizung -->
            @if (productdetails.heizung_val_f) {
              <div class="section-padding-lg">
                <p class="titlediv">Heizung</p>
                <p class="mb-1 text-clrs feature-text">{{ productdetails.heizung_val_f }}</p>
              </div>
            }

          </div>

          <!-- Links -->
          @if (this.tour_link || this.verkauf || this.zustand || this.objekt_info) {
            <div class="shadow">
              <div class="section-padding-lg">
                <p class="titlediv">Links zu Zusatzinformationen</p>
                @if (this.tour_link) {
                  <p class="mb-1 text-clrs">
                    <span class="label-semibold">360° Tour link</span>
                    <span class="float-right text-dark makewhite"><a href="{{ this.tour_link }}">{{ this.tour_link }}</a></span>
                  </p>
                }
                @if (this.objekt_info) {
                  <p class="mb-1 text-clrs">
                    <span class="label-semibold">Objektinformationen</span>
                    <span class="float-right text-dark makewhite"><a href="{{ this.objekt_info }}">{{ this.objekt_info }}</a></span>
                  </p>
                }
                @if (this.zustand) {
                  <p class="mb-1 text-clrs">
                    <span class="label-semibold">Zustandsbericht</span>
                    <span class="float-right text-dark makewhite"><a href="{{ this.zustand }}">{{ this.zustand }}</a></span>
                  </p>
                }
                @if (this.verkauf) {
                  <p class="mb-1 text-clrs">
                    <span class="label-semibold">Verkaufsbericht</span>
                    <span class="float-right text-dark makewhite"><a href="{{ this.verkauf }}">https://{{ this.verkauf }}</a></span>
                  </p>
                }
              </div>
            </div>
          }

          <!-- Energieausweis -->
          @if (productdetails.hwb_val || productdetails.hwb_energie || productdetails.fgee || productdetails.fgee_energie) {
            <div class="shadow">
              <div class="section-padding-lg">
                <p class="titlediv">Energieausweis</p>
                @if (productdetails.hwb_val) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">HWB</span>
                    <span class="float-right text-dark makewhite"><span class="energy_form">{{ productdetails.hwb_val | germanNumber}}</span></span>
                  </p>
                }
                @if (productdetails.hwb_energie) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">HWB Energieklasse</span>
                    <span class="float-right text-dark makewhite">{{ productdetails.hwb_energie }}</span>
                  </p>
                }
                @if (productdetails.fgee) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">fGEE</span>
                    <span class="float-right text-dark makewhite"><span class="energy_form">{{ productdetails.fgee |germanNumber }}</span></span>
                  </p>
                }
                @if (productdetails.fgee_energie) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">fGEE Energieklasse</span>
                    <span class="float-right text-dark makewhite">{{ productdetails.fgee_energie }}</span>
                  </p>
                }
              </div>
            </div>
          }

          <!-- Preisinformation -->
          @if (productdetails.maklerprovision || productdetails.ablose_val != 0 || productdetails.wohnbauf_val || productdetails.betriebskosten != 0 || productdetails.betriebskosten_exkl != 0 || productdetails.heizkosten != 0 || productdetails.sonstige_exkl != 0 || productdetails.monatliche_inkl != 0 || productdetails.monatliche_imwst != 0 || productdetails.zusatzinformation) {
            <div class="shadow">
              <div class="section-padding-lg">
                <p class="titlediv">Preisinformation</p>
                @if (productdetails.maklerprovision) {
                  <p class="mb-1">
                    <span class="label-bold">Maklerprovision</span>
                    <span class="float-right text-dark makewhite"><span class="german_form">{{ productdetails.maklerprovision | germanNumber}}</span></span>
                  </p>
                }
                @if (productdetails.ablose_val != 0) {
                  <p class="mb-1 text-clrs">
                    <span class="label-bold">Ablöse</span>
                    <span class="float-right text-dark makewhite">€ <span class="german_form">{{ productdetails.ablose_val| germanNumber }}</span></span>
                  </p>
                }
                @if (productdetails.wohnbauf_val == 'Yes') {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">Wohnbauförderung</span>
                    <span class="float-right text-dark makewhite">JA</span>
                  </p>
                }
                @if (productdetails.wohnbauf_val == 'No') {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">Wohnbauförderung</span>
                    <span class="float-right text-dark makewhite">Nein</span>
                  </p>
                }
                @if (productdetails.betriebskosten != 0) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">Betriebskosten (inkl. MwSt.)</span>
                    <span class="float-right text-dark makewhite">€ <span class="german_form">{{ productdetails.betriebskosten| germanNumber }}</span></span>
                  </p>
                }
                @if (productdetails.betriebskosten_exkl != 0) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">Betriebskosten (exkl. MwSt.)</span>
                    <span class="float-right text-dark makewhite">€ <span class="german_form">{{ productdetails.betriebskosten_exkl| germanNumber }}</span></span>
                  </p>
                }
                @if (productdetails.heizkosten != 0) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">Heizkosten (exkl. MwSt.)</span>
                    <span class="float-right text-dark makewhite">€ <span class="german_form">{{ productdetails.heizkosten | germanNumber}}</span></span>
                  </p>
                }
                @if (productdetails.sonstige_exkl != 0) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">Sonstige Kosten (exkl. MwSt.)</span>
                    <span class="float-right text-dark makewhite">€ <span class="german_form">{{ productdetails.sonstige_exkl| germanNumber }}</span></span>
                  </p>
                }
                @if (productdetails.monatliche_inkl != 0) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">Monatliche Kosten (inkl. MwSt.)</span>
                    <span class="float-right text-dark makewhite">€ <span class="german_form">{{ productdetails.monatliche_inkl | germanNumber}}</span></span>
                  </p>
                }
                @if (productdetails.monatliche_imwst != 0) {
                  <p class="mb-1 text-clrss">
                    <span class="label-bold">Monatliche Kosten (exkl. MwSt.)</span>
                    <span class="float-right text-dark makewhite">€ <span class="german_form">{{ productdetails.monatliche_imwst| germanNumber }}</span></span>
                  </p>
                }
                @if (productdetails.zusatzinformation) {
                  <p class="mb-1 text-clrs titlediv"><span class="label-semibold">Zusatzinformation</span></p>
                  <p class="zusatz-text">{{ productdetails.zusatzinformation }}</p>
                }
              </div>
            </div>
          }

          <!-- Lage -->
          @if (productdetails.lage) {
            <div class="shadowstyle">
              <p class="titlediv">Lage</p>
              <span class="pricehead">{{ productdetails.lage }}</span>
            </div>
          }

          <!-- Sonstige -->
          @if (productdetails.sonstige) {
            <div class="shadowstyle">
              <p class="titlediv">Sonstige</p>
              <span class="pricehead">{{ productdetails.sonstige }}</span>
            </div>
          }

          <!-- Legal Notice -->
          <div class="noticetext">
            <p><b class="notice-label">Rechtlicher Hinweis: </b>{{ this.legalnotice }}</p>
          </div>

          <!-- Contact Detail -->
          <app-propertycontactdetail
            [productdetails]="productdetails"
            [homepage_link]="homepage_link"
            [website_link]="website_link">
          </app-propertycontactdetail>

        </div>
      </ion-col>

      @if (productdetails.logoimage) {
        <ion-col size="12" class="logo-col">
          <div class="logoImg">
            <img alt="" src="{{ productdetails.logoimage }}" />
          </div>
        </ion-col>
      }

    </ion-row>

    <app-spam-reason-component
      [productdetails]="productdetails">
    </app-spam-reason-component>

  }

</ion-content>