p.title {
    color: black;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 5px 5px 12px;
}

p.title::first-letter {
    text-transform: capitalize;
}
// span.pricehead::first-letter {
//     text-transform: capitalize;
// }

.logoImg{
   text-align: center;
    position: relative;
    margin-top: 10px;
    img{
        width: 80px;
        height: 80px;
    }
}

.noticetext{
    font-size: 1.095em;
    font-weight: 700;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin-top: 3%;
    text-align: justify;
    padding: 0 6px;
    color: gray;
    p{
        font-size: 10px;
        line-height: 13px;
    }
}

p.iconprice {
    font-size: 25px;
    margin-left: 20px;
    color: #007bff;
}
.shadowclass {
    box-shadow: 0 1.5rem 1rem rgb(0 0 0 / 15%) !important;
    height: auto;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin-top: 6%;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem!important;
    font-size: 15px;
}
h5.word-space {
    font-size: 13px;
    color: black;
}
span.showcls {
    color: #007bff;
    font-size: 15px;
}
p.txtstye {
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
}
.shadowstyle {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 12%) !important;
    margin-top: 20px;
    padding: 15px;
}
.newshadow {
    box-shadow: 0 0.4rem 1rem rgb(0 0 0 / 15%) !important;
    margin-top: 8%;
}
p.titlediv {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 800;
}
span.pricehead {
    display: block;
    white-space: break-spaces;
    
}
p.somenewtxt {
    color: gray;
    font-size: 12px;
    margin-bottom: 2px;
}
p.newratingcss {
    margin-top: 17px;
    width: 64%;
    margin-left: 13px;
    border: 1px solid gray;
    border-radius: 12px;
    text-align: center;
    background: rebeccapurple;
    color: white;
    padding: 3px;
    font-size: 13px;

}
.btnborder {
    border: 1px solid #007bff;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
    color: #007bff;
}
p.para {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-left: 10px;
}
p.para2 {
    color: black;
    font-size: 13px;
    margin-left: 10px;
}
.addtocart-btn {
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    width: 46%;
    // width: 100%;
    height: 44px;
    position: fixed;
    bottom: 5px;
    border-radius: 5px;
    // right: 54%;
    background-color: #e9621a !important;
}
button.gotocall-btn {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 95%;
    height: 44px;
    position: fixed;
    border-radius: 5px;
    bottom: 5px;
    background-color: #e9621a !important;
    right: 10px;
}
button.gotocart-btn {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 48.5%;
    height: 44px;
    position: fixed;
    border-radius: 5px;
    bottom: 5px;
    background-color: #e9621a !important;
    right: 10px;
}
.qty-buys {
    display: inline-block;
    width: 100%;
    height: 58px;
    border-top: 1px solid #00000017;
    border-bottom: 1px solid #00000017;
    box-shadow: 3px 2px 3px #80808059;
    border-radius: 0 !important;
    background: #f8f9fa;
    position: fixed;
    z-index: 100;
    bottom: 0px;
}

p.titlediv2 {
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
}


.staricons {
    right: 27px;
    position: absolute;
    z-index: 999;
    font-size: 28px;
    top: 10px;
    color: #ffff;
    font-weight: 700;
}
.product_image{
    display: block;
    width: 100%;
    height: 271px;
    img{
        border-radius:5px;
        border-left:1px solid #d7d2d299;
        border-right:1px solid #d7d2d299;
        color:black;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.reserve_status {
    margin-left: 10px;
}
.spareParttitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;
    .dot{
        font-weight: 900;
        font-size: 24px;
        color: #e9621a;
        // display: block;
        // width: 20px;
        // height: 20px;
        // border: 1px solid transparent;
        // background: #e9621a;
        // border-radius: 50%;
    }
}
.title1{
    font-size: 14px;
    color: #e9621a;
    margin: 0;
    margin-left: 14px;
}
.text_center2{
    text-align: center;
}
.product-detail-image{

}
p{
    margin: 0 !important;
}