<ion-row>
        <ion-col>
          <div class="newdiv" style="padding: 5px 10px 5px 10px;" id="kontaktid">
              <div class="contact_header">
                <ion-label style="color: black;font-size: 15px;font-weight: 700;">Name & Kontaktdaten: </ion-label>
                <p><ion-icon name="create" class="icon1"></ion-icon></p>
              </div>
              <p style="margin-bottom: 5px;margin-top: 5px;"><span style="font-weight: bold;">Vorname: </span></p>
              <p style="margin-bottom: 5px;margin-top: 5px;"><span style="font-weight: bold;">Nachname: </span></p>
              <p style="margin-bottom: 5px;margin-top: 5px;"><span style="font-weight: bold;">Firmenname: </span></p>
              <p style="margin-bottom: 5px;margin-top: 5px;"><span style="font-weight: bold;">Firmenanschrift: </span></p>
              <div>
                <div class="space_between">
                  <p style="margin-bottom: 5px;margin-top: 5px;"><span style="font-weight: bold;">Mobile </span></p>
                  <ion-toggle aria-label="Success toggle" color="success" id="group1"></ion-toggle>
                </div>
                <p style="margin-bottom: 5px;margin-top: 5px;"><span style="font-weight: bold;">Telefonnummer 1:</span></p>
                <p style="margin-bottom: 5px;margin-top: 5px;"><span style="font-weight: bold;">Fax: </span></p>
              </div>
              <div>
                <div class="space_between">
                  <p style="margin-bottom: 5px;margin-top: 5px;"><span style="font-weight: bold;">E-Mail: </span></p>
                  <ion-toggle aria-label="Success toggle" color="success" id="group2"></ion-toggle>
                </div>
                <p style="margin-bottom: 5px;margin-top: 5px;"><span style="font-weight: bold;">Website: </span></p>
              </div>
          </div>
        </ion-col>
      </ion-row>