  <ion-content>
    <!-- <form  class="ion-padding"  style="background-position: 'center'; -->
     <!-- background-size: 'cover';background-repeat: 'no-repeat';height:'100%';background-color: #160f38;"> -->
      <div style="height:129px;"></div>
        <ion-img src="assets/image/logoapp.jpeg" style="width: 85%;display: block;margin-left: auto;margin-right: auto;"></ion-img>
      
      <!-- margin-left: auto;margin-right: auto;width: 85%;border: none;"  -->
    <!-- </form> -->
  </ion-content>
