
.head {
    background-color: rgba(215, 219, 221, 0.1490196078);
    height: 513px !important;
    border-right: 1px solid #d5d2d2;
    border-bottom: 1px springgreen;
}
.scrollb{
     height: 513px !important;
}
.cat_active{
    background-color: #fbc6a1;
}
.cate{
    display: block;
    font-size: 12px;
    font-weight: 700;
}
.catcont{
    border-bottom: 1px solid #d5d2d2;
    text-align: center;
    padding: 6px 0;
    div{
        text-align: center;
        span{
            display: inline-block;
            font-size: 14px;
        }
    }
    .iconimg{
        width: 23px;
    }
}
.head::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 5px;
}
.head::-webkit-scrollbar-thumb {
  background-color: #fb9252;
  outline: 1px solid white;
}
div.head {
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-y: scroll; 
}
.catcont{

}
.petfilter{
  display: flex;
  justify-content: space-between;
  span{
    border: 1px solid #bbb1b1;
    padding: 2px;
    font-size: 12px;
  }
}
.petactive{
  background-color:#e9621a;
  color: white;
}
@media screen and (max-width:360px) {
    .petfilter{
      span{
        font-size: 11px;
      }
    }
}
.subcatdes{
    border-radius: 5px;
    border: 1px solid #8080804f;
    margin-right: auto;
        overflow: hidden;

}
.sbcatd{
    font-size: 12px;
    text-align: center;

}

