.search-container {
  position: relative;
  
  .search-input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    
    &:focus {
      outline: none;
      border-color: #e9621a;
    }
  }
}

.logo-style {
    width: 34px;
    height: 38px;
    margin-left: 6px;
}
.pt-20{
    padding-top: 20px;
}
h4.demo {
    float: left;
    padding-left: 19px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
}



.content-style {
    background: #eee;
}
ion-card{
   display: flex;
   flex-direction: column;
   margin: 0 !important;
   width: 100%;
}
img.banner-back {
    background: #ffff;
    height: 170px;
}
h2.maincontent {
    font-size: 19px;
    color: #000;
    font-weight: 700;
    padding-left: 13px;
    margin-bottom: 0;
}
p.para {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    padding-left: 10px;
}
p.para1{
    font-size: 13px;
    color: rgb(237 128 62)!important;
    margin-right: 12px;
    font-weight: 600;
}
p.slidecontent {
    // font-size: 10px;
    // color: #000;
    // font-weight: 600;
    // margin-top: 8px;

    font-size: 10px;
    color: #000;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.slidecontent span{
    display: inline-block;
    &::first-letter{
        text-transform: capitalize;
    }
}

p.main-icon {
    font-size: 10px;
    font-weight: 600;
    color: #e9621a;
    margin: 4px 0;
    text-align: start;
    i{
        margin-right: 2px;
    }

}
img.slide-image {
    float: left;
    margin-left: 12px;
    padding: 10px 0px 10px 0px;
    height: 118px;
}
h4.maincate{
    float: left;
    padding-left: 15px;
    font-size: 17px;
    color: #000;
    font-weight: 600;
}
p.demoslider {
    margin-top: 25px;
    float: right;
    margin-right: 10px;
}

p.newpara1 {
    padding-right: 10px;
    float: right;
    margin-top: -26px;
    color: #057aa8;
}
button.btn.btn-danger {
    text-align: center;
    float: left;
    border-radius: 50px;
    background: #fff;
    color: #000;
    font-size: 12px;
    border: 1px solid #057aa8;
}
.qty-cart {
    margin-left: auto;
    margin-right: auto;
    padding: 12px 9px 12px 9px;
}


.tab{
    width:100%;
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: #f1f1f1;
  }
  button.tablinks.active {
    color: white;
  }
  button.tablinks.active{
       background-color: #e9621a;
       color: white;
  }
  .tab button.active {
       background-color: #e9621a;
    color: white;
  }
  .tab button {
    background-color: #f17844;
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 3px 0px;
    font-size: 8px;
    width: 25%;
    
    border-right: 1px solid #c9bebe;
  }

  .tab button:hover {
    background-color: #e9621a;
    color: #fff;
  }


  ion-icon.notify{
    font-size: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    color: black;
  }

 
//banner 

.banner_con{
    width: 100%;
}
.banner_con2{
    width: 100%;
    height: 450px;
}
//end banner
.maincontent ion-icon{
    background: #e9621a;font-size: 15px;
                color: #fff;padding: 4px 4px 4px 4px;border-radius: 15px;
}
// card_heading
.maincontent .para1{
    margin: 0;
}
.random_images{
    height: 110px;
    width:100%;
    border:1px solid #d7d2d299;
    color:black; 
    margin-top: 5px; 
    background-color: black;
    object-fit: cover;
}


.banner_con2 img{
    object-fit: cover;
}
.banner_con2 a{
    position: relative;
    display: block;
    .text1{
        position: absolute;
        top: 4px;
        right: 4px;
        font-size: 14px;
        background: aliceblue;
        padding: 2px 9px;
        background-color: #121570;
        color: white;
        border-radius: 10px;
        letter-spacing: 1px;
        font-family: system-ui;
    }
    .text2{
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 17%;
        color: #f4f9f3;
        font-weight: 800;
        padding: 4px 3px;
    }
}
.long_ads img {
    height: 450px;
    object-fit: cover;
    width: 100%;
}
.long_ads a{
    position: relative;
    display: block;
    .text1{
        position: absolute;
        top: 4px;
        right: 4px;
        font-size: 14px;
        background: aliceblue;
        padding: 2px 9px;
        background-color: #121570;
        color: white;
        border-radius: 10px;
        letter-spacing: 1px;
        font-family: system-ui;
    }
    .text2{
        font-size: 15px;
        position: absolute;
        bottom: 10px;
        left: 17%;
        color: #f4f9f3;
        font-weight: 800;
        padding: 4px 3px;
    }
}
.footer_lat{
    padding: 0;
    margin-bottom: 5px;
    ion-card-header{
        padding: 12px;
    }
    h5{
        margin:0;
    }
}

.tabheading{
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        margin-top: 3px;
    }
    p{
        margin-top: auto;
        margin-bottom: auto;
        padding: 8px 1px 8px 1px;
        font-size: 10px;
        color: black;
        font-weight: 600;
    }
  }
  @media screen and (max-width:380px) {
    .tabheading p{
      font-size: 9px !important;
    }
  }

.left_text_header{
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ion-title{
        font-size:14px; 
        color: #ffffff;
        font-weight: 700;
        padding:0;
        text-align: start;
    }
    p{
        margin: 0;
        font-size: 12px;
        color: black;
        display: flex;
        gap: 4px;
        align-items: center;
        .online{
            display: flex;
            gap: 3PX;
            align-items: center;
            color: green;
            ion-icon{
                color: green;
            }
        }
        .view{
            display: flex;
            gap: 3PX;
            align-items: center;
        }
    }
}
@media screen and (max-width:360px) {
        .left_text_header{
            p{
                font-size: 11px;
            }
        }
}
.search_data{
    ::placeholder{
        font-size: 18px;
    }
    ion-col{
        display: grid;
        align-items: center;
    }
    margin-top: 5px;
    div{
        position: relative;
        width: 100%;
    }
    input{
        width: 100%;
        height: 40px;
        border-radius: 14px;
        padding: 0 29px;
        border: 1px solid #cbc8c6;
        box-shadow: 0px 0px 2px 2px #cec4c412;
    }
    ion-icon{
        position: absolute;
        top: 10px;
        left: 9px;
        font-size: 18px;
    }
    
}
.more_data{
    margin-top: -31px;float: right;margin-left: auto;
}