 <ion-toolbar>
    <div class="tab tabheading">
    
        <button  class="tablinks" (click)="viewcategoryPage(1)" [class.active_tab]="main_cat_id==1"> 
          <img src="assets/image/shopping-cart2.png">
          <p>MARKTPLATZ</p>
        </button>
   
   
        <button class="tablinks " (click)="viewcategoryPage(2)" [class.active_tab]="main_cat_id==2">
          <img src="assets/image/homemenuicon.png">
          <p>IMMOBILIE</p>
        </button>
       
        <button class="tablinks" (click)="viewcategoryPage(3)" [class.active_tab]="main_cat_id==3">
          
          <img src="assets/image/newautomotoricon2.png" > 
          <p class="autocate" style="font-size: 9px;">AUTO & MOTOR</p>
        </button>
     
        <button  class="tablinks" (click)="viewcategoryPage(4)" style="display: none;" 
        [class.active_tab]="main_cat_id==4">
         
          <img src="assets/image/shopping-cart12.png"> 
          <p>SHOPS</p>
        </button>
      
        <button class="tablinks " (click)="viewcategoryPage(5)" [class.active_tab]="main_cat_id==5">
         
          <img src="assets/image/pawprint12.png"> 
          <p>HAUSTIERE</p>
        </button>
      
      </div> 
  </ion-toolbar>