 <ion-row>
    <ion-col size="6">
      <ion-card>
        <div>
          <a><img src="assets/image/photogallery.png" class="imgnewcls"></a>
          <p style="text-align: center;">Bilder hinzufügen</p>
        </div>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <div>
          <a><img src="assets/image/photocamera.png" class="imgnewcls1"></a>
          <p style="text-align: center;">Bilder anklicken</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  
   <p id="showimageloaded" style="display:none;">Bild wird geladen...</p>

    <ion-row style="border-bottom: 1px solid rgba(204, 199, 199, 0.74);">
      <ion-col size="4">
          <div class="thumbnailContainer" id="imgviewid">
           <img src="" class="progressThumbnail">
          </div>
      </ion-col>
  </ion-row>