ion-title.titlecls {
    font-size: 14px;
    color: #e9621a !important;
    padding: 2px 4px;
    font-weight: 600;
}

ion-textarea.text-des {
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 2px;
    padding: 3px;
    background: #d9dfe25c;
    font-size: 14px;
}
.ion-color-secondary {
    --ion-color-base: #e9621a !important;;
}