<ion-content style="--background: #f5faff;">
  <div class="logo" id="logoId">
    <img src="assets/image/logo12.png">
  </div>

  <div class="offlinelogo">
    <img src="assets/image/offline.png" alt="" width="300">
  </div>

  <div>
    <p class="head1">Verbindung zum Internet herstellen</p>
    <p class="head2">Du bist offline. Prüfe deine Verbindung.</p>
    <ion-row class="submitbtn">
      <ion-col style="text-align: center;">
        <ion-button expand="block" type="submit" (click)="checkNetConnection()">Neu Laden</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>